nav.navbar.navbar-expand-lg.bg-light.mb-5
    .container
        a.navbar-brand(href='/app') Proyecto Final Coderhouse 32100: Front View
        a.nav-link.ms-auto.me-3 Perfil
        a.nav-link.me-1 Carrito